@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.createAccountForm{

}
.logoDiv{
    width: 307px;
    height: 624px;
    position: absolute;
    background-color:  #F0EEFF;
}


.logoImage{
    margin-top: 56px;
    margin-left: 48px;
}

.creatAccountContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 528px;
    width: 335px;
    left: 500px;
    position: absolute;
}

.formElements{
    display: flex;
    flex-direction: column;


}
.formElements > input{
    margin-top: 6px;
    height: 40px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #E4E4E7;
    padding-left: 21px;
    font-size: 13px;
    font-family: "Plus Jakarta Sans", sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: 500;
}
.formElements > input::placeholder{
    padding-left: 1px;
    font-size: 13px;
    color: #71717A;
    font-family: "Plus Jakarta Sans", sans-serif;
    line-height: 24px;
    font-weight: 500;
}
.submitButton{
    width: 335px;
    height: 56px;
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color:#7000F6;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    margin-top: 20px;

}
.createAccount{
    font-size: 30px;
    font-weight: 600;
    font-family: Aeonik,sans-serif;
    color: #0A090B;


}
.formLabel{
    color: #09090B;
    font-weight: 500;
    line-height: 24px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;


}

.mainCont{
    display: flex;
    flex-direction: row;
}